/*reset*/
ul{
  padding: 0;
  margin: 0;
}
body,*{
  font: 14px/1.5 Helvetica,sans-serif;
  font-family: 'Microsoft Yahei,Helvetica, sans-serif';
}
a{
  color: #333;
}
.content{
  margin: 105px 0 0;
  background-color: #f2f3f4;
}
.clearfix{
  clear: both;
}